<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VariableServlet</display-name>
 
  <servlet>
    <description></description>
    <display-name>VariableServlet</display-name>
    <servlet-name>VariableServlet</servlet-name>
    <servlet-class>variable.servlet.VariableServlet</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.jdbc.obdc.Driver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>VariableServlet</servlet-name>
    <url-pattern>/VariableServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>Name</param-name>
    <param-value>VariableServlet</param-value>
  </context-param>
  
  
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>variable.servlet.TestServlet</servlet-class>
    
    
    <init-param>
    	<param-name>TheName</param-name>
    	<param-value>TestServlet</param-value>
    </init-param>
  </servlet>
  
  
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
</web-app>