<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ExamPrep</display-name>
  <servlet>
    <description></description>
    <display-name>NewServlet</display-name>
    <servlet-name>NewServlet</servlet-name>
    <servlet-class>smallTry.NewServlet</servlet-class>
    <init-param>
      <param-name>ServletLeader</param-name>
      <param-value>DharmKing</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewServlet</servlet-name>
    <url-pattern>/NewServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>GanpatiBappa</param-name>
    <param-value>Morya</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>RDServlet</display-name>
    <servlet-name>RDServlet</servlet-name>
    <servlet-class>smallTry.RDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RDServlet</servlet-name>
    <url-pattern>/RDServlet</url-pattern>
  </servlet-mapping>
</web-app>